<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Rockstar</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="d-flex align-items-center p-4">
            <h5 class="white-text">
                Welcome to Guitar Store, where the magic of music lives in the exciting world of guitar! Built on a passion for providing original instruments and uninterrupted service, we are your premier electric guitar supplier.

                We understand that every musician has a unique voice, and the electric guitar is an external instrument to express that individuality. Whether you're a seasoned pro, an aspiring virtuoso, or just starting out on your musical journey, we're here to support everything you do.

                What sets us apart is not only our impressive selection of name-brand electric guitars, but also our commitment to providing a personalized and memorable shopping experience. Our knowledgeable and friendly staff are avid musicians themselves and are ready to help you find the perfect guitar to suit your style and preferences.
            </h5>
        </div>
    </div>
</body>
</html>
